node_modules
.DS_Store
public
.idea
coverage
.env
npm-debug.log
output/
*.iml
.nyc_output
.vscode
dump.rdb
yarn-error.log
apps/*/translations/en
apps/**/translations/**/*
!apps/**/translations/src/
!apps/**/translations/src/**/*
test/_accessibility/tmp/*
~$*
*.xlsx
data/*
!test/**/*.xlsx
.devcontainer/*.env
.cache
.vscode-server
