$path: "../img/";

@import "../../node_modules/hof-frontend-toolkit/assets/stylesheets/app.scss";

@import "./alert.scss";
@import "./icons.scss";
@import "./validation.scss";


.phase-banner {
  @include phase-banner(beta);
}

#step {
  @include core-16;
  a {
    display: inline-block;
    margin-top: $gutter-half;
    padding-left: 14px;
    border-bottom: $black 1px solid;
    color: $black;
    text-decoration: none;
    background: url("../images/icons/icon-caret-left.png") no-repeat 0 4px;
    @include media(mobile) {
      background-position: 0 1px;
    }
    margin-right: 14px;
  }

  span {
    display: inline-block;
    margin-top: $gutter-half;
    color: $secondary-text-colour;
  }
}

.button.button-delete, .button-delete a, td .table-summary-action .button-delete a {
  @include bold-24;
  color: $page-colour !important;
  font-size: 16px !important;
  background-image: url("../images/icons/icon-cross-remove-sign.png");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position-x: 90%;
  background-position-y: 50%;
  background-color: $red;
  -webkit-box-shadow: 0 2px 0 darken( $red, 10% );
  -moz-box-shadow: 0 2px 0 darken( $red, 10% );
  box-shadow: 0 2px 0 darken( $red, 10% );
  padding: em(7) em(41) em(4) em(16);

  &:hover, &:active {
    background-color: darken( $red, 10% );
    color: $page-colour !important;
    font-size: 16px !important;
  }

  &:visited {
    background-color: $red;
    color: $page-colour !important;
    font-size: 16px !important;
  }

  @include device-pixel-ratio {
    background-image: url("../images/icons/icon-cross-remove-sign.png");
    background-size: 14px 14px;
    background-position-x: 90%;
    background-position-y: 50%;
  }

  @include ie(6) {
    background-image: url("../images/icons/icon-cross-remove-sign.png");
  }
}

.edit-link {
  font-size: 16px;
  display: block;
  margin: 1em 0em;
}

h1 {
  @include bold-24;
}

.form-label-bold {
  @include core-19;
}

.loop-summary-table {
  margin-top: 30px;
  padding: 0px 30px 30px 30px;
  border: 2px solid #bfc1c3;

  .button {
    margin-right: 0;
  }
}

// This is required due to an issue with passports-template-mixins:
// https://github.com/UKHomeOffice/passports-template-mixins/issues/69
input[type='checkbox'] ~ span.visuallyhidden {
  display: none !important;
}

//autocomplete styling
.tt-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 65%;
}

.loop-summary-table {
  td.numeric {
    padding-right: 0;
  }
}

.tt-suggestion {
  padding: 0.5em;

  &:hover,
  &.tt-cursor {
    color: #fff;
    background-color: #0097cf;
  }

  &:hover {
    cursor: pointer;
  }
}

.twitter-typeahead {
  width: 100%;
}

.table-details {
  width: 100%;
  margin-bottom: 3em;

  tbody {
    td:nth-child(1) {
      width: 40%;
    }
    td:nth-child(2) {
      width: 60%;
    }
    td:nth-child(3) {
      text-align: right;
      padding-right: 0;
    }
  }

  .button {
    margin: 0;
    background: #dde0e1;
    color: #000;
  }
}

.alert-complete {
  padding: 3.65263em;
  padding-left: 2em;
}

.icon-complete {
  margin-right: 16px;
}

.icon:before {
  height: 36px;
  width: 36px;
}

.alert-message h1:first-child {
  font-size: 35px;
}
