---
apiVersion: apps/v1
kind: Deployment
metadata:
  # {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
  # annotations:
  #   downscaler/uptime: {{ .NON_PROD_AVAILABILITY }}
  # name: file-vault-{{ .DRONE_SOURCE_BRANCH }}
  # {{ else if eq .KUBE_NAMESPACE .UAT_ENV }}
  # annotations:
  #   downscaler/uptime: {{ .NON_PROD_AVAILABILITY }}
  # name: file-vault
  # {{ else }}
  # name: file-vault
  # {{ end }}
  {{ if eq .KUBE_NAMESPACE .PROD_ENV }}
  name: file-vault
  {{ else if eq .KUBE_NAMESPACE .BRANCH_ENV }}
  annotations:
    downscaler/uptime: {{ .NON_PROD_AVAILABILITY }}
  name: file-vault-{{ .DRONE_SOURCE_BRANCH }}
  {{ else }}
  annotations:
    downscaler/uptime: {{ .NON_PROD_AVAILABILITY }}
  name: file-vault
  {{ end }}
spec:
  {{ if eq .KUBE_NAMESPACE .PROD_ENV }}
  replicas: 2
  {{ else }}
  replicas: 1
  {{ end }}
  selector:
    matchLabels:
      {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
      name: file-vault-{{ .DRONE_SOURCE_BRANCH }}
      service: file-vault-{{ .DRONE_SOURCE_BRANCH }}
      {{ else }}
      name: file-vault
      service: file-vault
      {{ end }}
  template:
    metadata:
      labels:
        {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
        name: file-vault-{{ .DRONE_SOURCE_BRANCH }}
        service: file-vault-{{ .DRONE_SOURCE_BRANCH }}
        {{ else }}
        name: file-vault
        service: file-vault
        {{ end }}
    spec:
      containers:
        - name: file-vault
          # v3.0.1 28th August 2025
          image: quay.io/ukhomeofficedigital/file-vault:3.0.1@sha256:44f35820701981eeb3371d332e6fd53f697e1bcd60f75731a57e8da6edb7bed5
          imagePullPolicy: Always
          resources:
            requests:
              memory: 10Mi
              cpu: 10m
            limits:
              memory: 256Mi
              cpu: 300m
          envFrom:
            - configMapRef:
                {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
                name: {{ .APP_NAME }}-configmap-{{ .DRONE_SOURCE_BRANCH }}
                {{ else }}
                name: {{ .APP_NAME }}-configmap
                {{ end }}
          env:
            # because the internal virus scanner has a self signed cert!
            - name: NODE_TLS_REJECT_UNAUTHORIZED
              value: "0"
            - name: FILE_VAULT_URL
            {{ if eq .KUBE_NAMESPACE .PROD_ENV }}
              value: https://file-vault.prod.{{ .APP_NAME }}.homeoffice.gov.uk
            {{ else if eq .KUBE_NAMESPACE .STG_ENV }}
              value: https://file-vault.preprod.{{ .APP_NAME }}.homeoffice.gov.uk
            {{ else if eq .KUBE_NAMESPACE .UAT_ENV }}
              value: https://file-vault-uat.notprod.{{ .APP_NAME }}.homeoffice.gov.uk
            {{ else if eq .KUBE_NAMESPACE .BRANCH_ENV }}
              value: https://fv-{{ .DRONE_SOURCE_BRANCH }}.{{ .BRANCH_ENV }}.homeoffice.gov.uk
            - name: DEBUG
              value: "true"
            {{ end }}
            - name: PORT
              value: "3000"
            - name: CLAMAV_REST_URL
              value: https://clamav.virus-scan.svc.cluster.local/scan
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  {{ if or (eq .KUBE_NAMESPACE .BRANCH_ENV) (eq .KUBE_NAMESPACE .UAT_ENV) }}
                  name: endtenancy-notprod-s3
                  {{ else }}
                  name: s3-bucket
                  {{ end }}
                  key: access_key_id
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  {{ if or (eq .KUBE_NAMESPACE .BRANCH_ENV) (eq .KUBE_NAMESPACE .UAT_ENV) }}
                  name: endtenancy-notprod-s3
                  {{ else }}
                  name: s3-bucket
                  {{ end }}
                  key: secret_access_key
            - name: AWS_KMS_KEY_ID
              valueFrom:
                secretKeyRef:
                  {{ if or (eq .KUBE_NAMESPACE .BRANCH_ENV) (eq .KUBE_NAMESPACE .UAT_ENV) }}
                  name: endtenancy-notprod-s3
                  {{ else }}
                  name: s3-bucket
                  {{ end }}
                  key: kms_key_id
            - name: AWS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: aws-password
                  key: password
            - name: AWS_BUCKET
              valueFrom:
                secretKeyRef:
                  {{ if or (eq .KUBE_NAMESPACE .BRANCH_ENV) (eq .KUBE_NAMESPACE .UAT_ENV) }}
                  name: endtenancy-notprod-s3
                  key: name
                  {{ else }}
                  name: s3-bucket
                  key: bucket_name
                  {{ end }}
          securityContext:
            runAsNonRoot: true

        - name: keycloak-proxy
          image: quay.io/ukhomeofficedigital/gogatekeeper:3.5.0
          resources:
            limits:
              memory: 1024Mi
              cpu: 200m
          envFrom:
            - configMapRef:
                {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
                name: {{ .APP_NAME }}-configmap-{{ .DRONE_SOURCE_BRANCH }}
                {{ else }}
                name: {{ .APP_NAME }}-configmap
                {{ end }}
          env:
            - name: PROXY_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: keycloak-client
                  key: secret
            - name: PROXY_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: keycloak-client
                  key: id
            - name: PROXY_LISTEN
              value: 127.0.0.1:3001
            - name: PROXY_REDIRECTION_URL
            {{ if eq .KUBE_NAMESPACE .PROD_ENV }}
              value: https://file-vault.prod.{{ .APP_NAME }}.homeoffice.gov.uk
            {{ else if eq .KUBE_NAMESPACE .STG_ENV }}
              value: https://file-vault.preprod.{{ .APP_NAME }}.homeoffice.gov.uk
            {{ else if eq .KUBE_NAMESPACE .UAT_ENV }}
              value: https://file-vault-uat.notprod.{{ .APP_NAME }}.homeoffice.gov.uk
            {{ else if eq .KUBE_NAMESPACE .BRANCH_ENV }}
              value: https://fv-{{ .DRONE_SOURCE_BRANCH }}.{{ .BRANCH_ENV }}.homeoffice.gov.uk
            {{ end }}
            - name: PROXY_UPSTREAM_URL
              value: "http://127.0.0.1:3000"
          args:
            # URls that you wish to protect.
            - --resources=uri=/*
            - --enable-default-deny=false
            - --enable-security-filter=true
            - --enable-request-id=true
            - --enable-logging=true
            - --enable-json-logging=true
            - --enable-encrypted-token=false
          {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
            - --verbose=true
          {{ end }}
          securityContext:
            runAsNonRoot: true


        - name: nginx-proxy
          # nginx-proxy-govuk:v4
          image: quay.io/ukhomeofficedigital/nginx-proxy-govuk@sha256:4470064d0b1d20ae08c5fd85551576cb687f342a22d6cb456fda9b2c4ce8c8df
          resources:
            limits:
              memory: 1024Mi
              cpu: 200m
            requests:
              memory: 512Mi
          env:
{{ file .FILEVAULT_NGINX_SETTINGS | indent 12 }}
          ports:
            - containerPort: 10080
            - containerPort: 10443
          volumeMounts:
            - mountPath: /public
              name: public
          securityContext:
            runAsNonRoot: true
      volumes:
        - name: public
          emptyDir: {}
