<div class="loop-summary-table">
  <h2>{{summaryTitle}}</h2>
  <table>
    <thead>
      <tr>
        {{#headers}}
          <th>
            {{.}}
          </th>
        {{/headers}}
        <th class="hidden">Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#items}}
        <tr>
          {{#fields}}
            <td>
              {{value}}
              <a href="{{baseUrl}}/{{route}}/{{subroute}}/{{id}}/change" class="edit-link">{{editText}}</a>
            </td>
          {{/fields}}
          <td class="numeric">
            <a href="{{baseUrl}}/{{route}}/name/{{id}}/delete" class="button button-delete">{{#t}}buttons.delete{{/t}}</a>
          </td>
        </tr>
      {{/items}}
    </tbody>
  </table>
</div>
