{{<partials-page}}
  {{$page-content}}
    {{#postcode}}
      <label>{{postcodeLabel}}</label>
      <p>
        <span class="postcode">{{postcode}}</span>
        <span class="link"><a class="change-postcode" href="{{baseUrl}}/report-property-address/postcode">{{#t}}pages.address-lookup.edit{{/t}}</a></span>
      </p>
    {{/postcode}}
    {{#postcodeApiMessageKey}}
      <div class="alert-info">
        <span class="info-message">
          {{#t}}pages.address-lookup.postcode-api.{{postcodeApiMessageKey}}{{/t}}
        </span>
      </div>
    {{/postcodeApiMessageKey}}
    {{#fields}}
      {{#renderField}}{{/renderField}}
    {{/fields}}
    {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
