{{<partials-page}}
  {{$page-content}}
    <label>{{postcodeLabel}}</label>
    <p>
      <span class="postcode">{{postcode}}</span>
      <span class="link"><a class="change-postcode" href="{{baseUrl}}{{route}}/postcode">{{#t}}pages.address-lookup.edit{{/t}}</a></span>
    </p>
    {{#fields}}
      {{#renderField}}{{/renderField}}
    {{/fields}}
    <p><span class="link"><a class="cant-find" href="{{baseUrl}}{{route}}/manual">{{#t}}pages.address-lookup.cantfind{{/t}}</a></span></p>
    {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
