{{<partials-page}}
  {{$page-content}}
    <div class="alert-complete" role="alert">
      <span class="icon icon-complete" role="presentation"></span>
      <div class="alert-message">
        {{#report}}
          <h1>{{#t}}pages.confirmation.alert-report{{/t}}</h1>
        {{/report}}
        {{#check}}
          <h1>{{#t}}pages.confirmation.alert-check{{/t}}</h1>
        {{/check}}
      </div>
    </div>
    <h2>{{#t}}pages.confirmation.subheader{{/t}}</h2>
    {{#report}}
      <p>{{#t}}pages.confirmation.content-report{{/t}}</p>
    {{/report}}
    {{#check}}
      <p>{{#t}}pages.confirmation.content-check{{/t}}</p>
    {{/check}}
  {{/page-content}}
{{/partials-page}}
