{{<partials-page}}
  {{$page-content}}
    {{#content}}
      <h1>{{header}}</h1>
      <p>{{{intro}}}</p>
      <h3>{{subtitle}}</h3>
      <br />
      <p>{{{contact}}}</p>
      {{#required-info}}
        <p>{{intro}}</p>
        {{>partials-bullet-list}}
      {{/required-info}}
      {{#useful-info}}
        <p>{{intro}}</p>
        {{>partials-bullet-list}}
      {{/useful-info}}
      {{#reference-number}}
        {{>partials-details-summary}}
      {{/reference-number}}
      <br />
      {{#landlord}}
        <p>{{intro}}</p>
        {{>partials-bullet-list}}
      {{/landlord}}
      {{#agent}}
        <p>{{intro}}</p>
        {{>partials-bullet-list}}
      {{/agent}}
      {{#what-next}}
        <h2>{{header}}</h2>
        <p>{{content}}</p>
      {{/what-next}}
    {{/content}}
  {{/page-content}}
{{/partials-page}}
