{{<partials-page}}
  {{$page-content}}
    <fieldset id="date-left-group" class="{{#errors.date-left}}validation-error{{/errors.date-left}}">

      {{#errors.date-left}}
        <span id="date-left-error" class="error-message">
          {{errors.date-left.message}}
        </span>
      {{/errors.date-left}}

      <p class="form-hint">{{#t}}fields.date-left.hint{{/t}}</p>
      <div class="form-group form-date">
        {{#input-date}}date-left{{/input-date}}
      </div>

    </fieldset>
    {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
