{{<partials-page}}
  {{$page-content}}
    <fieldset id="nldp-date-group" class="{{#errors.nldp-date}}validation-error{{/errors.nldp-date}}">

      {{#errors.nldp-date}}
        <span id="nldp-date-error" class="error-message">
          {{errors.nldp-date.message}}
        </span>
      {{/errors.nldp-date}}

      <p class="form-hint">{{#t}}fields.nldp-date.hint{{/t}}</p>
      <div class="form-group form-date">
        {{#input-date}}nldp-date{{/input-date}}
      </div>

    </fieldset>
    {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
