{{<partials-page}}
  {{$page-content}}
    <fieldset id="report-nldp-date-group" class="{{#errors.report-nldp-date}}validation-error{{/errors.report-nldp-date}}">

      {{#errors.report-nldp-date}}
        <span id="report-nldp-date-error" class="error-message">
          {{errors.report-nldp-date.message}}
        </span>
      {{/errors.report-nldp-date}}

      <p class="form-hint">{{#t}}fields.report-nldp-date.hint{{/t}}</p>
      <div class="form-group form-date">
        {{#input-date}}report-nldp-date{{/input-date}}
      </div>

    </fieldset>
    {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
