{{<partials-page}}
  {{$page-content}}
    <fieldset id="tenancy-start-group" class="{{#errors.tenancy-start}}validation-error{{/errors.tenancy-start}}">

      {{#errors.tenancy-start}}
        <span id="tenancy-start-error" class="error-message">
          {{errors.tenancy-start.message}}
        </span>
      {{/errors.tenancy-start}}

      <p class="form-hint">{{#t}}fields.tenancy-start.hint{{/t}}</p>
      <div class="form-group form-date">
        {{#input-date}}tenancy-start{{/input-date}}
      </div>

    </fieldset>
    {{#input-submit}}continue{{/input-submit}}
    {{#hasItems}}
      {{> partials-items-table}}
    {{/hasItems}}
  {{/page-content}}
{{/partials-page}}
